@charset "UTF-8";
html {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* Para calcular las unidades relativas con 10px de base */ }
  html a {
    text-decoration: none;
    color: #212529; }

.titulo {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #000; }

.subtitulo--index {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: #000; }

.subtitulo {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: #000; }

.subtitulo--preguntas {
  /* Bordes de la sección preguntas frecuentes */
  border: solid 1.5px;
  border-color: white  #212529 #212529 white;
  text-transform: uppercase; }

.texto {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; }

.texto--preguntas {
  /* Textos de la sección preguntas frecuentes */
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; }

.negrita {
  /* Para los span en negrita */
  font-weight: 500;
  font-family: 'Poppins', sans-serif; }

.precio_oferta {
  /* De la sección index */
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  text-decoration: line-through;
  display: inline-block; }

.precio {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem; }

.botones {
  font-weight: 500;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

.centrar {
  /* Para centrar contenido */
  display: flex;
  justify-content: center;
  align-items: center; }

.centrar--vertical {
  /* Para centrar contenido */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 1px) and (max-width: 500px) {
  body {
    background-color: #ffffff; }
  .nav-link {
    /* Secciones del nav */
    font-size: 1.6rem;
    padding: .5rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; }
  .index__logo {
    /* Logo del index */
    width: 96vw;
    height: 8rem;
    margin-bottom: 2.5rem; }
    .index__logo a img {
      width: 15rem; }
  /* -------------------------------- SECCIÓN INDEX -------------------------------- */
  .index__novedades {
    /* Carousel index (novedades) */ }
    .index__novedades .index__titulo {
      /* Contenedor de títulos del index */
      height: 5rem;
      padding: 1rem 0;
      margin: 1rem 0 1rem 0; }
    .index__novedades img {
      /* imágenes del carrusel */
      width: 96vw; }
    .index__novedades .index__button {
      /* contenedor del botón */
      border: solid black 1px;
      margin: 2rem 6rem 2rem 6rem;
      padding: 1rem 0.5rem;
      transition: all 0.3s; }
      .index__novedades .index__button a {
        color: black;
        /* Color del texto */ }
    .index__novedades div.index__button:hover {
      background-color: black;
      /* Animación */ }
      .index__novedades div.index__button:hover a {
        color: white; }
  .index__productos {
    /* Grid de productos en oferta */
    margin-top: 4.5rem; }
    .index__productos h3 {
      margin: 1rem 0 2rem 0; }
    .index__productos .index__gridproductos {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 44vw 44vw;
      grid-template-rows: 27.5rem 27.5rem 27.5rem;
      gap: 2rem 5vw; }
      .index__productos .index__gridproductos img {
        width: 100%; }
  .index__newsletter {
    /* Sección newsletter */
    margin-top: 3rem; }
    .index__newsletter h3 {
      margin: 1rem 0 2rem 0; }
    .index__newsletter p {
      margin-bottom: 1rem; }
    .index__newsletter input {
      margin: 1rem 0 3rem 0;
      width: 80vw; }
  /* -------------------------------- SECCIÓN PRODUCTOS -------------------------------- */
  .productos {
    margin-top: 4.5rem; }
    .productos .productos__titulo {
      margin-bottom: 2rem; }
    .productos .productos__grid {
      /* grid de productos */
      display: grid;
      grid-template-columns: 44vw 44vw;
      grid-template-rows: repeat(6, 29rem);
      gap: 2rem 5vw; }
      .productos .productos__grid img {
        width: 100%;
        margin: 0.5rem 0; }
      .productos .productos__grid .texto {
        margin-bottom: 0.3rem;
        /* para sacarle el margen */ }
      .productos .productos__grid .productos__botonComprar {
        border: 1px solid black; }
        .productos .productos__grid .productos__botonComprar a {
          text-decoration: none;
          color: black; }
  /* -------------------------------- SECCIÓN QUIENES SOMOS -------------------------------- */
  .quienesSomos .quienesSomos__titulo {
    margin: 2rem 0; }
  .quienesSomos .quienesSomos__contenedor {
    border: 1.5px solid black;
    padding: 1.5rem; }
  .quienesSomos .quienesSomos__imagenes {
    width: 100%;
    margin: 3rem 0; }
    .quienesSomos .quienesSomos__imagenes img {
      width: 50%; }
  /* -------------------------------- SECCIÓN CONTACTO -------------------------------- */
  .contacto {
    border: black solid 1px;
    width: 80vw;
    margin-bottom: 3rem; }
    .contacto .contacto__titulo {
      margin: 2rem 0; }
    .contacto .contacto__contenedor .contacto__form {
      width: 80vw;
      margin-bottom: 1.5rem; }
      .contacto .contacto__contenedor .contacto__form input {
        width: 75%; }
      .contacto .contacto__contenedor .contacto__form textarea {
        width: 75%; }
    .contacto .contacto__contenedor .contacto__button {
      border: solid black 1px;
      margin: 2rem 6rem 2rem 6rem;
      padding: 1rem 0.5rem;
      transition: all 0.3s;
      width: 60vw; }
      .contacto .contacto__contenedor .contacto__button a {
        color: black;
        /* Color del texto */ }
    .contacto .contacto__contenedor div.contacto__button:hover {
      background-color: black;
      /* Animación */ }
      .contacto .contacto__contenedor div.contacto__button:hover a {
        color: white; }
  .contacto__GIT {
    background-color: black;
    width: 80vw;
    padding: 1rem; }
    .contacto__GIT .contacto__GIT__titulo h2 {
      margin: 3rem 0;
      color: white; }
    .contacto__GIT .contacto__GIT__contenedor div {
      margin-bottom: 3rem; }
      .contacto__GIT .contacto__GIT__contenedor div p {
        color: white;
        margin-bottom: 0; }
  /* -------------------------------- SECCIÓN PREGUNTAS FRECUENTES -------------------------------- */
  .preguntas {
    border: black solid 1.5px;
    width: 80vw;
    margin-bottom: 3rem; }
    .preguntas .preguntas__titulo {
      margin: 2rem 0;
      text-align: center; }
    .preguntas .preguntas__contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem; }
      .preguntas .preguntas__contenedor h2 {
        text-align: center;
        width: 60%;
        padding: 1rem 0; }
      .preguntas .preguntas__contenedor h2:hover {
        color: black; }
      .preguntas .preguntas__contenedor a {
        padding: 1rem 0;
        text-align: center;
        width: 80%;
        border-bottom: solid 1px #e7e7e7; }
      .preguntas .preguntas__contenedor a:hover {
        color: black; }
      .preguntas .preguntas__contenedor .preguntas__rta {
        width: 70%;
        text-align: justify;
        text-justify: distribute; }
  /* -------------------------------------- FOOTER ----------------------------------------- */
  footer {
    margin: 2rem 0;
    padding: 2.5rem 0 0 0;
    border-top: 1px solid black; }
    footer a:hover {
      /* Para c/link del footer */
      color: #000; }
    footer .footer__seccion {
      /* Cada sección del footer */
      margin-bottom: 2.5rem; }
      footer .footer__seccion h3 {
        padding-left: 2rem; }
      footer .footer__seccion .footer__logos {
        margin-top: 1rem;
        padding-left: 2rem; }
        footer .footer__seccion .footer__logos img {
          display: inline-block;
          width: 3rem;
          margin-right: 1.5rem;
          transition: all 0.3s; }
        footer .footer__seccion .footer__logos img:hover {
          width: 3.3rem; }
    footer ul li {
      list-style: none; } }

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  /* -------------------------------------- NAV ----------------------------------------- */
  .collapse .nav-link {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 1rem; }
  /* -------------------------------- SECCIÓN INDEX -------------------------------- */
  .index__logo {
    height: 16rem; }
    .index__logo img {
      width: 18vw; }
  .index__novedades {
    display: flex;
    flex-direction: column;
    padding: 4rem; }
    .index__novedades .index__titulo {
      margin: 2rem 0; }
      .index__novedades .index__titulo h1 {
        font-size: 4rem; }
    .index__novedades .contenedorCarousel img {
      width: 50rem; }
    .index__novedades #index__contenedorButton {
      width: 100%;
      display: flex;
      justify-content: center; }
      .index__novedades #index__contenedorButton .index__button {
        border: solid black 1px;
        padding: 1rem 0.5rem;
        margin: 5rem;
        transition: all 0.3s;
        width: 15vw; }
        .index__novedades #index__contenedorButton .index__button a {
          color: black;
          /* Color del texto */ }
      .index__novedades #index__contenedorButton div.index__button:hover {
        background-color: black;
        /* Animación */ }
        .index__novedades #index__contenedorButton div.index__button:hover a {
          color: white; }
  .index__productos .index__titulo {
    margin: 2rem 0; }
    .index__productos .index__titulo h2 {
      font-size: 4rem; }
  .index__productos h3 {
    font-size: 2.5rem;
    margin: 3rem 0 5rem 0; }
  .index__productos .index__gridproductos {
    display: grid;
    grid-template-columns: 27vw 27vw 27vw;
    grid-template-rows: auto auto;
    gap: 3rem 8.5vw;
    place-items: center; }
    .index__productos .index__gridproductos img {
      width: 100%;
      padding: 0 1rem; }
    .index__productos .index__gridproductos .texto {
      font-size: 1.8rem;
      margin-top: 1rem;
      padding: 0 1rem; }
    .index__productos .index__gridproductos .precio_oferta {
      font-size: 1.6rem;
      padding: 0 1rem; }
    .index__productos .index__gridproductos .precio {
      font-size: 2rem; }
  .index__newsletter h3 {
    font-size: 4rem;
    margin: 5rem 0 3rem 0; }
  .index__newsletter p {
    font-size: 2.5rem;
    margin: 3rem 0; }
  .index__newsletter input {
    margin: 0.5rem 0 3rem 0;
    width: 50vw;
    height: 3rem; }
  /* -------------------------------- SECCIÓN PRODUCTOS -------------------------------- */
  .productos {
    padding: 4rem;
    margin-bottom: 2rem; }
    .productos .productos__titulo {
      margin: 2rem 0 4rem 0; }
      .productos .productos__titulo h2 {
        font-size: 4rem; }
    .productos .productos__grid {
      display: grid;
      grid-template-columns: 25vw 25vw 25vw;
      grid-template-rows: auto;
      gap: 3rem 8.5vw;
      justify-content: center; }
      .productos .productos__grid .productos__contenedor {
        border: black solid 1px; }
      .productos .productos__grid img {
        width: 100%;
        padding: 1rem; }
      .productos .productos__grid .texto {
        font-size: 2rem;
        margin-top: 1rem;
        padding: 0 1rem; }
      .productos .productos__grid .precio {
        font-size: 2rem;
        padding: 0 1rem; }
      .productos .productos__grid .productos__botonComprar {
        border: 1.5px solid black;
        margin: 2rem; }
        .productos .productos__grid .productos__botonComprar a {
          text-decoration: none;
          color: black; }
  /* -------------------------------- SECCIÓN QUIENES SOMOS -------------------------------- */
  .quienesSomos {
    border: 1.5px solid black;
    padding: 4rem;
    width: 70%;
    margin-bottom: 5rem; }
    .quienesSomos .quienesSomos__titulo {
      margin: 2rem 0 4rem 0; }
      .quienesSomos .quienesSomos__titulo h1 {
        font-size: 4rem; }
    .quienesSomos .quienesSomos__contenedor {
      flex-direction: column; }
      .quienesSomos .quienesSomos__contenedor p {
        text-align: justify;
        font-size: 1.8rem; }
    .quienesSomos .quienesSomos__imagenes {
      margin: 3rem 0; }
      .quienesSomos .quienesSomos__imagenes img {
        width: 25%; }
  /* -------------------------------- SECCIÓN CONTACTO -------------------------------- */
  .contacto {
    border: 1.5px solid black;
    width: 50%;
    padding: 4rem; }
    .contacto .contacto__titulo {
      margin: 2rem 0 4rem 0; }
      .contacto .contacto__titulo h1 {
        font-size: 4rem; }
    .contacto .contacto__contenedor {
      /* Contenedor de form + botón */
      font-size: 1.8rem; }
      .contacto .contacto__contenedor .contacto__form {
        /* Formulario de contacto */
        margin-bottom: 2rem; }
        .contacto .contacto__contenedor .contacto__form input {
          font-size: 1.6rem;
          width: 40rem; }
        .contacto .contacto__contenedor .contacto__form textarea {
          font-size: 1.6rem;
          width: 40rem; }
      .contacto .contacto__contenedor .contacto__button {
        border: solid black 1px;
        margin: 2rem 6rem 2rem 6rem;
        padding: 1rem 0.5rem;
        transition: all 0.3s;
        width: 40rem; }
        .contacto .contacto__contenedor .contacto__button a {
          color: black;
          /* Color del texto */ }
      .contacto .contacto__contenedor div.contacto__button:hover {
        background-color: black;
        /* Animación */ }
        .contacto .contacto__contenedor div.contacto__button:hover a {
          color: white; }
  .contacto__GIT {
    width: 50%;
    background-color: black;
    margin-top: 3rem;
    padding: 4rem;
    margin-bottom: 5rem; }
    .contacto__GIT .contacto__GIT__titulo {
      margin: 2rem 0 4rem 0; }
      .contacto__GIT .contacto__GIT__titulo h2 {
        font-size: 4rem;
        color: white; }
    .contacto__GIT .contacto__GIT__contenedor {
      font-size: 1.8rem; }
      .contacto__GIT .contacto__GIT__contenedor div {
        margin-bottom: 3rem; }
        .contacto__GIT .contacto__GIT__contenedor div p {
          font-size: 1.9rem;
          margin-bottom: 0;
          color: white; }
  /* -------------------------------- SECCIÓN PREGUNTAS FRECUENTES -------------------------------- */
  .preguntas {
    border: black solid 1.5px;
    width: 60%;
    padding: 4rem; }
    .preguntas .preguntas__titulo {
      text-align: center;
      margin: 2rem 0 4rem 0; }
      .preguntas .preguntas__titulo h1 {
        font-size: 4rem; }
    .preguntas .preguntas__contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem; }
      .preguntas .preguntas__contenedor h2 {
        text-align: center;
        width: 60%;
        padding: 1rem 0;
        font-size: 2.3rem; }
      .preguntas .preguntas__contenedor h2:hover {
        color: black; }
      .preguntas .preguntas__contenedor a {
        padding: 1rem 0;
        text-align: center;
        width: 80%;
        border-bottom: solid 1px #e7e7e7;
        font-size: 2rem; }
      .preguntas .preguntas__contenedor a:hover {
        color: black; }
      .preguntas .preguntas__contenedor .preguntas__rta {
        font-size: 1.8rem;
        width: 70%;
        text-align: justify;
        text-justify: distribute; }
  /* -------------------------------------- FOOTER ----------------------------------------- */
  footer {
    border-top: 1px solid black;
    margin: 2rem 0;
    padding: 2.5rem 0 0 0;
    display: flex;
    justify-content: space-around; }
    footer a:hover {
      /* Para c/link del footer */
      color: #000; }
    footer .footer__seccion {
      /* Cada sección del footer */
      margin-bottom: 2.5rem; }
      footer .footer__seccion h3 {
        padding-left: 2rem; }
      footer .footer__seccion .footer__logos {
        margin-top: 1rem;
        padding-left: 2rem; }
        footer .footer__seccion .footer__logos img {
          display: inline-block;
          width: 3rem;
          margin-right: 1.5rem;
          transition: all 0.3s; }
        footer .footer__seccion .footer__logos img:hover {
          width: 3.3rem; }
    footer ul li {
      list-style: none; } }

@media only screen and (min-width: 1025px) {
  /* -------------------------------------- NAV ----------------------------------------- */
  .collapse .nav-link {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 1rem; }
  /* -------------------------------- SECCIÓN INDEX -------------------------------- */
  .index__logo {
    height: 16rem; }
    .index__logo img {
      width: 18vw; }
  .index__novedades {
    display: flex;
    flex-direction: column;
    padding: 4rem; }
    .index__novedades .index__titulo {
      margin: 2rem 0; }
      .index__novedades .index__titulo h1 {
        font-size: 4rem; }
    .index__novedades .contenedorCarousel img {
      width: 50rem; }
    .index__novedades #index__contenedorButton {
      width: 100%;
      display: flex;
      justify-content: center; }
      .index__novedades #index__contenedorButton .index__button {
        border: solid black 1px;
        padding: 1rem 0.5rem;
        margin: 5rem;
        transition: all 0.3s;
        width: 15vw; }
        .index__novedades #index__contenedorButton .index__button a {
          color: black;
          /* Color del texto */ }
      .index__novedades #index__contenedorButton div.index__button:hover {
        background-color: black;
        /* Animación */ }
        .index__novedades #index__contenedorButton div.index__button:hover a {
          color: white; }
  .index__productos .index__titulo {
    margin: 2rem 0; }
    .index__productos .index__titulo h2 {
      font-size: 4rem; }
  .index__productos h3 {
    font-size: 2.5rem;
    margin: 3rem 0 5rem 0; }
  .index__productos .index__gridproductos {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: auto auto;
    gap: 3rem 8.5vw;
    justify-content: center; }
    .index__productos .index__gridproductos .index__prod {
      border: solid 1px black;
      padding: 1rem; }
    .index__productos .index__gridproductos img {
      width: 100%;
      padding: 1rem; }
    .index__productos .index__gridproductos .texto {
      font-size: 1.8rem;
      margin-top: 1rem;
      padding: 0 1rem; }
    .index__productos .index__gridproductos .precio_oferta {
      font-size: 1.6rem;
      padding: 0 1rem; }
    .index__productos .index__gridproductos .precio {
      font-size: 2rem; }
  .index__newsletter {
    margin: 7rem 0 5rem 0; }
    .index__newsletter h3 {
      font-size: 4rem;
      margin: 5rem 0 3rem 0; }
    .index__newsletter p {
      font-size: 2.5rem;
      margin: 3rem 0; }
    .index__newsletter input {
      margin: 0.5rem 0 3rem 0;
      width: 50vw;
      height: 3rem; }
  /* -------------------------------- SECCIÓN PRODUCTOS -------------------------------- */
  .productos {
    padding: 4rem;
    margin-bottom: 2rem; }
    .productos .productos__titulo {
      margin: 2rem 0 4rem 0; }
      .productos .productos__titulo h1 {
        font-size: 4rem; }
    .productos .productos__grid {
      display: grid;
      grid-template-columns: 25vw 25vw 25vw;
      grid-template-rows: auto;
      gap: 3rem 8.5vw;
      justify-content: center; }
      .productos .productos__grid .productos__contenedor {
        border: black solid 1px; }
      .productos .productos__grid img {
        width: 100%;
        padding: 1rem; }
      .productos .productos__grid .texto {
        font-size: 2rem;
        margin-top: 1rem;
        padding: 0 1rem; }
      .productos .productos__grid .precio {
        font-size: 2rem;
        padding: 0 1rem; }
      .productos .productos__grid .productos__botonComprar {
        border: 1.5px solid black;
        margin: 2rem; }
        .productos .productos__grid .productos__botonComprar a {
          text-decoration: none;
          color: black; }
  /* -------------------------------- SECCIÓN QUIENES SOMOS -------------------------------- */
  .quienesSomos {
    border: 1.5px solid black;
    padding: 4rem;
    width: 70%;
    margin-bottom: 5rem; }
    .quienesSomos .quienesSomos__titulo {
      margin: 2rem 0 4rem 0; }
      .quienesSomos .quienesSomos__titulo h1 {
        font-size: 4rem; }
    .quienesSomos .quienesSomos__contenedor {
      flex-direction: column; }
      .quienesSomos .quienesSomos__contenedor p {
        text-align: justify;
        font-size: 1.8rem; }
    .quienesSomos .quienesSomos__imagenes {
      margin: 3rem 0; }
      .quienesSomos .quienesSomos__imagenes img {
        width: 25%; }
  /* -------------------------------- SECCIÓN CONTACTO -------------------------------- */
  .contacto {
    border: 1.5px solid black;
    width: 50%;
    padding: 4rem; }
    .contacto .contacto__titulo {
      margin: 2rem 0 4rem 0; }
      .contacto .contacto__titulo h1 {
        font-size: 4rem; }
    .contacto .contacto__contenedor {
      /* Contenedor de form + botón */
      font-size: 1.8rem; }
      .contacto .contacto__contenedor .contacto__form {
        /* Formulario de contacto */
        margin-bottom: 2rem; }
        .contacto .contacto__contenedor .contacto__form input {
          font-size: 1.6rem;
          width: 40rem; }
        .contacto .contacto__contenedor .contacto__form textarea {
          font-size: 1.6rem;
          width: 40rem; }
      .contacto .contacto__contenedor .contacto__button {
        border: solid black 1px;
        margin: 2rem 6rem 2rem 6rem;
        padding: 1rem 0.5rem;
        transition: all 0.3s;
        width: 40rem; }
        .contacto .contacto__contenedor .contacto__button a {
          color: black;
          /* Color del texto */ }
      .contacto .contacto__contenedor div.contacto__button:hover {
        background-color: black;
        /* Animación */ }
        .contacto .contacto__contenedor div.contacto__button:hover a {
          color: white; }
  .contacto__GIT {
    width: 50%;
    background-color: black;
    margin-top: 3rem;
    padding: 4rem;
    margin-bottom: 5rem; }
    .contacto__GIT .contacto__GIT__titulo {
      margin: 2rem 0 4rem 0; }
      .contacto__GIT .contacto__GIT__titulo h2 {
        font-size: 4rem;
        color: white; }
    .contacto__GIT .contacto__GIT__contenedor {
      font-size: 1.8rem; }
      .contacto__GIT .contacto__GIT__contenedor div {
        margin-bottom: 3rem; }
        .contacto__GIT .contacto__GIT__contenedor div p {
          font-size: 1.9rem;
          margin-bottom: 0;
          color: white; }
  /* -------------------------------- SECCIÓN PREGUNTAS FRECUENTES -------------------------------- */
  .preguntas {
    border: black solid 1.5px;
    width: 60%;
    padding: 4rem; }
    .preguntas .preguntas__titulo {
      text-align: center;
      margin: 2rem 0 4rem 0; }
      .preguntas .preguntas__titulo h1 {
        font-size: 4rem; }
    .preguntas .preguntas__contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem; }
      .preguntas .preguntas__contenedor h2 {
        text-align: center;
        width: 60%;
        padding: 1rem 0;
        font-size: 2.3rem;
        margin-bottom: 1.5rem; }
      .preguntas .preguntas__contenedor h2:hover {
        color: black; }
      .preguntas .preguntas__contenedor a {
        padding: 1rem 0;
        text-align: center;
        width: 80%;
        border-bottom: solid 1px #e7e7e7;
        font-size: 2rem; }
      .preguntas .preguntas__contenedor a:hover {
        color: black; }
      .preguntas .preguntas__contenedor .preguntas__rta {
        font-size: 1.8rem;
        width: 70%;
        text-align: justify;
        text-justify: distribute; }
  /* -------------------------------------- FOOTER ----------------------------------------- */
  footer {
    border-top: 1px solid black;
    margin: 2rem 0;
    padding: 2.5rem 0 0 0;
    display: flex;
    justify-content: space-around; }
    footer a:hover {
      /* Para c/link del footer */
      color: #000; }
    footer .footer__seccion {
      /* Cada sección del footer */
      margin-bottom: 2.5rem; }
      footer .footer__seccion h3 {
        padding-left: 2rem; }
      footer .footer__seccion .footer__logos {
        margin-top: 1rem;
        padding-left: 2rem; }
        footer .footer__seccion .footer__logos img {
          display: inline-block;
          width: 3rem;
          margin-right: 1.5rem;
          transition: all 0.3s; }
        footer .footer__seccion .footer__logos img:hover {
          width: 3.3rem; }
    footer ul li {
      list-style: none; } }
