@charset "UTF-8";
html {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* Para calcular las unidades relativas con 10px de base */ }
  html a {
    text-decoration: none;
    color: #212529; }

.titulo {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #000; }

.subtitulo--index {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: #000; }

.subtitulo {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: #000; }

.subtitulo--preguntas {
  /* Bordes de la sección preguntas frecuentes */
  border: solid 1.5px;
  border-color: white  #212529 #212529 white;
  text-transform: uppercase; }

.texto {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; }

.texto--preguntas {
  /* Textos de la sección preguntas frecuentes */
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; }

.negrita {
  /* Para los span en negrita */
  font-weight: 500;
  font-family: 'Poppins', sans-serif; }

.precio_oferta {
  /* De la sección index */
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  text-decoration: line-through;
  display: inline-block; }

.precio {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem; }

.botones {
  font-weight: 500;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

.textoBanner {
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif; }

.textoBanner--sub {
  color: white;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase; }

.centrar {
  /* Para centrar contenido */
  display: flex;
  justify-content: center;
  align-items: center; }

.centrar--vertical {
  /* Para centrar contenido */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 1px) and (max-width: 500px) {
  body {
    background-color: #ffffff; }
  .navbar-logo {
    /* No se muestra el logo en la parte izq del nav */
    display: none; }
  .nav-link {
    /* Secciones del nav */
    font-size: 1.6rem;
    padding: .5rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; }
  .index__logo {
    /* Logo del index */
    width: 96vw;
    height: 8rem;
    margin-bottom: 2.5rem; }
    .index__logo a img {
      width: 15rem; }
  /* -------------------------------- SECCIÓN INDEX -------------------------------- */
  .index__novedades {
    /* Index (novedades) */ }
    .index__novedades .index__titulo {
      /* Contenedor de títulos del index */
      height: 5rem;
      padding: 1rem 0;
      margin: 1rem 0 1rem 0; }
    .index__novedades .contenedorCarousel--desktop {
      /* No muestro el carrusel de mobile */
      display: none; }
    .index__novedades img {
      /* imágenes del carrusel */
      width: 96vw; }
    .index__novedades .index__button {
      /* contenedor del botón */
      border: solid black 1px;
      margin: 2rem 6rem 2rem 6rem;
      padding: 1rem 0.5rem;
      transition: all 0.3s; }
      .index__novedades .index__button a {
        color: black;
        /* Color del texto */ }
    .index__novedades div.index__button:hover {
      background-color: black;
      /* Animación */ }
      .index__novedades div.index__button:hover a {
        color: white; }
  .index__productos {
    /* Grid de productos en oferta */
    margin-top: 4.5rem; }
    .index__productos h3 {
      margin: 1rem 0 2rem 0; }
    .index__productos .index__gridproductos {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 44vw 44vw;
      grid-template-rows: 27.5rem 27.5rem 27.5rem;
      gap: 2rem 5vw; }
      .index__productos .index__gridproductos img {
        width: 100%; }
  .index__newsletter {
    /* Sección newsletter */
    margin-top: 3rem; }
    .index__newsletter h3 {
      margin: 1rem 0 2rem 0; }
    .index__newsletter p {
      margin-bottom: 1rem; }
    .index__newsletter input {
      padding: 1.2rem 1.5rem;
      background-color: #f6f6f6;
      border: 0;
      width: 80vw;
      font-size: 1.6rem; }
    .index__newsletter .index__button {
      /* contenedor del botón */
      border: solid black 1px;
      margin: 2rem 6rem 4rem 6rem;
      padding: 1rem 0.5rem;
      transition: all 0.3s; }
      .index__newsletter .index__button a {
        color: black;
        /* Color del texto */ }
    .index__newsletter div.index__button:hover {
      background-color: black;
      /* Animación */ }
      .index__newsletter div.index__button:hover a {
        color: white; }
  /* -------------------------------- SECCIÓN PRODUCTOS -------------------------------- */
  .productos__banner {
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black; }
    .productos__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem; }
    .productos__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .productos .productos__grid {
    /* grid de productos */
    display: grid;
    grid-template-columns: 44vw 44vw;
    grid-template-rows: repeat(6, 29rem);
    gap: 2rem 5vw;
    margin-bottom: 5rem; }
    .productos .productos__grid img {
      width: 100%;
      margin: 0.5rem 0; }
    .productos .productos__grid .texto {
      margin-bottom: 0.3rem;
      /* para sacarle el margen */ }
    .productos .productos__grid .productos__botonComprar {
      border: 1px solid black;
      transition: all 0.3s; }
      .productos .productos__grid .productos__botonComprar a {
        text-decoration: none;
        color: black; }
    .productos .productos__grid .productos__botonComprar:hover {
      background-color: black; }
      .productos .productos__grid .productos__botonComprar:hover a {
        color: white; }
  /* -------------------------------- SECCIÓN QUIENES SOMOS -------------------------------- */
  .quienesSomos__banner {
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black; }
    .quienesSomos__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem; }
    .quienesSomos__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 4rem; }
    .quienesSomos__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .quienesSomos .quienesSomos__titulo {
    margin: 2rem 0; }
  .quienesSomos .quienesSomos__contenedor {
    border: 1.5px solid black;
    padding: 1.5rem; }
  .quienesSomos .quienesSomos__imagenes {
    width: 100%;
    margin: 3rem 0; }
    .quienesSomos .quienesSomos__imagenes img {
      width: 50%; }
  /* -------------------------------- SECCIÓN CONTACTO -------------------------------- */
  .contacto__banner {
    /* Banner "CONTACTANOS" */
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black; }
    .contacto__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.4rem; }
    .contacto__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 1.7rem; }
    .contacto__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .contacto {
    border: black solid 1px;
    width: 80vw;
    margin-bottom: 3rem; }
    .contacto .contacto__titulo {
      margin: 2rem 0; }
    .contacto .contacto__contenedor .contacto__form {
      width: 80vw;
      margin-bottom: 1.5rem; }
      .contacto .contacto__contenedor .contacto__form input {
        width: 75%; }
      .contacto .contacto__contenedor .contacto__form textarea {
        width: 75%; }
    .contacto .contacto__contenedor .contacto__button {
      border: solid black 1px;
      margin: 2rem 6rem 2rem 6rem;
      padding: 1rem 0.5rem;
      transition: all 0.3s;
      width: 60vw; }
      .contacto .contacto__contenedor .contacto__button a {
        color: black;
        /* Color del texto */ }
    .contacto .contacto__contenedor div.contacto__button:hover {
      background-color: black;
      /* Animación */ }
      .contacto .contacto__contenedor div.contacto__button:hover a {
        color: white; }
  .contacto__GIT {
    background-color: black;
    width: 80vw;
    padding: 1rem; }
    .contacto__GIT .contacto__GIT__titulo h2 {
      margin: 3rem 0;
      color: white; }
    .contacto__GIT .contacto__GIT__contenedor .icono2 {
      padding-right: 1rem; }
    .contacto__GIT .contacto__GIT__contenedor #whatsapp {
      color: #25d366; }
    .contacto__GIT .contacto__GIT__contenedor #instagram {
      color: #d62976; }
    .contacto__GIT .contacto__GIT__contenedor div {
      margin-bottom: 3rem; }
      .contacto__GIT .contacto__GIT__contenedor div p {
        color: white;
        margin-bottom: 0; }
  /* -------------------------------- SECCIÓN PREGUNTAS FRECUENTES -------------------------------- */
  .preguntas__banner {
    /* Banner "PREGUNTAS FRECUENTES" */
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black; }
    .preguntas__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.4rem;
      color: white; }
    .preguntas__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 3.4rem; }
    .preguntas__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .preguntas {
    width: 80vw;
    margin-bottom: 3rem; }
    .preguntas .preguntas__titulo {
      margin: 2rem 0 3rem 0;
      text-align: center;
      border-bottom: black solid 1.5px; }
    .preguntas .preguntas__contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem; }
      .preguntas .preguntas__contenedor h2 {
        text-align: center;
        width: 60%;
        padding: 1rem 0; }
      .preguntas .preguntas__contenedor h2:hover {
        color: black; }
      .preguntas .preguntas__contenedor a {
        padding: 1rem 0;
        text-align: center;
        width: 80%;
        border-bottom: solid 1px #e7e7e7; }
      .preguntas .preguntas__contenedor a:hover {
        color: black; }
      .preguntas .preguntas__contenedor .preguntas__rta {
        width: 70%;
        text-align: justify;
        text-justify: distribute; }
  /* -------------------------------------- FOOTER ----------------------------------------- */
  footer {
    margin: 2rem 0;
    padding: 2.5rem 0 0 0;
    border-top: 1px solid black; }
    footer a:hover {
      /* Para c/link del footer */
      color: #000; }
    footer .footer__seccion {
      /* Cada sección del footer */
      margin-bottom: 2.5rem; }
      footer .footer__seccion h3 {
        padding-left: 2rem; }
      footer .footer__seccion .footer__logos {
        margin-top: 1rem;
        padding-left: 2rem; }
        footer .footer__seccion .footer__logos img {
          display: inline-block;
          width: 3rem;
          margin-right: 1.5rem;
          transition: all 0.3s; }
        footer .footer__seccion .footer__logos img:hover {
          width: 3.3rem; }
    footer ul li {
      list-style: none; } }

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  /* -------------------------------------- NAV ----------------------------------------- */
  .collapse .navbar-logo {
    /* Logo en la parte izquierda del nav (only desktop/tablet) */
    width: 10rem;
    height: 4rem;
    overflow: hidden; }
    .collapse .navbar-logo img {
      margin: -2.5rem 0 0 2rem;
      width: 8rem;
      height: 8rem; }
  .collapse .nav-link {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 1rem; }
  /* -------------------------------- SECCIÓN INDEX -------------------------------- */
  .index__logo {
    display: none;
    height: 16rem; }
    .index__logo img {
      width: 18vw; }
  .index__novedades {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 0 1rem; }
    .index__novedades .index__titulo {
      margin: 2rem 0; }
      .index__novedades .index__titulo h1 {
        font-size: 4rem; }
    .index__novedades .contenedorCarousel {
      /* No muestro el carrusel de mobile */
      display: none; }
    .index__novedades .contenedorCarousel--desktop {
      /* Margen carrusel tablet */
      margin-top: 2rem; }
    .index__novedades #index__contenedorButton {
      width: 100%;
      display: flex;
      justify-content: center; }
      .index__novedades #index__contenedorButton .index__button {
        border: solid black 1px;
        padding: 1rem 0.5rem;
        margin: 5rem;
        transition: all 0.3s;
        width: 15vw; }
        .index__novedades #index__contenedorButton .index__button a {
          color: black;
          /* Color del texto */ }
      .index__novedades #index__contenedorButton div.index__button:hover {
        background-color: black;
        /* Animación */ }
        .index__novedades #index__contenedorButton div.index__button:hover a {
          color: white; }
  .index__productos {
    /* Section SALE de index */ }
    .index__productos .index__titulo {
      margin: 2rem 0; }
      .index__productos .index__titulo h2 {
        font-size: 4rem; }
    .index__productos h3 {
      font-size: 2.5rem;
      margin: 3rem 0 5rem 0; }
    .index__productos .index__gridproductos {
      /* Grid de productos */
      display: grid;
      grid-template-columns: 25vw 25vw 25vw;
      grid-template-rows: auto auto;
      gap: 3rem 8.5vw;
      justify-content: center; }
      .index__productos .index__gridproductos .index__prod {
        /* Borde de cada tarjeta (1 prod = 1 tarj) */
        border: solid 1px black;
        padding: 1rem; }
      .index__productos .index__gridproductos img {
        width: 100%;
        padding: 1rem; }
      .index__productos .index__gridproductos .texto {
        font-size: 1.8rem;
        margin-top: 1rem;
        padding: 0 1rem; }
      .index__productos .index__gridproductos .precio_oferta {
        font-size: 1.6rem;
        padding: 0 1rem; }
      .index__productos .index__gridproductos .precio {
        font-size: 2rem; }
  .index__newsletter h3 {
    /* Título NEWSLETTER */
    font-size: 4rem;
    margin: 5rem 0 3rem 0; }
  .index__newsletter p {
    /* Texto subtítulo */
    font-size: 2.5rem;
    margin: 3rem 0; }
  .index__newsletter input {
    /* Estilo del input */
    font-size: 1.8rem;
    width: 65vw;
    padding: 1.2rem 1.5rem;
    background-color: #f6f6f6;
    border: 0; }
  .index__newsletter #index__contenedorButton {
    /* Botón ENVIAR newsletter */
    width: 100%;
    display: flex;
    justify-content: center; }
    .index__newsletter #index__contenedorButton .index__button {
      border: solid black 1px;
      padding: 1rem 0.5rem;
      margin: 2rem 0 4rem 0;
      transition: all 0.3s;
      width: 15vw; }
      .index__newsletter #index__contenedorButton .index__button a {
        color: black;
        /* Color del texto */ }
    .index__newsletter #index__contenedorButton div.index__button:hover {
      background-color: black;
      /* Animación */ }
      .index__newsletter #index__contenedorButton div.index__button:hover a {
        color: white; }
  /* -------------------------------- SECCIÓN PRODUCTOS -------------------------------- */
  .productos__banner {
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    background-color: black;
    height: 30vh;
    overflow: hidden;
    margin-top: 4rem; }
    .productos__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6.5rem; }
    .productos__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .productos {
    padding: 4rem;
    margin-bottom: 2rem; }
    .productos .productos__titulo {
      margin: 2rem 0 4rem 0; }
      .productos .productos__titulo h2 {
        font-size: 4rem; }
    .productos .productos__grid {
      display: grid;
      grid-template-columns: 25vw 25vw 25vw;
      grid-template-rows: auto;
      gap: 3rem 8.5vw;
      justify-content: center; }
      .productos .productos__grid .productos__contenedor {
        border: black solid 1px; }
      .productos .productos__grid img {
        width: 100%;
        padding: 1rem; }
      .productos .productos__grid .texto {
        font-size: 2rem;
        margin-top: 1rem;
        padding: 0 1rem; }
      .productos .productos__grid .precio {
        font-size: 2rem;
        padding: 0 1rem; }
      .productos .productos__grid .productos__botonComprar {
        border: 1px solid black;
        margin: 2rem;
        transition: all 0.3s; }
        .productos .productos__grid .productos__botonComprar a {
          text-decoration: none;
          color: black; }
      .productos .productos__grid .productos__botonComprar:hover {
        background-color: black; }
        .productos .productos__grid .productos__botonComprar:hover a {
          color: white; }
  /* -------------------------------- SECCIÓN QUIENES SOMOS -------------------------------- */
  .quienesSomos__banner {
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    background-color: black;
    height: 30vh;
    overflow: hidden;
    margin-top: 4rem; }
    .quienesSomos__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem; }
    .quienesSomos__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 5rem; }
    .quienesSomos__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .quienesSomos {
    width: 70%;
    margin-bottom: 5rem; }
    .quienesSomos .quienesSomos__titulo {
      margin: 3rem 0 4rem 0; }
      .quienesSomos .quienesSomos__titulo h1 {
        font-size: 4rem;
        text-align: center; }
    .quienesSomos .quienesSomos__contenedor {
      margin-top: 4rem;
      border: 1.5px solid black;
      padding: 4rem;
      flex-direction: column; }
      .quienesSomos .quienesSomos__contenedor p {
        text-align: justify;
        font-size: 1.8rem; }
    .quienesSomos .quienesSomos__imagenes {
      margin: 3rem 0; }
      .quienesSomos .quienesSomos__imagenes img {
        width: 25%; }
  /* -------------------------------- SECCIÓN CONTACTO -------------------------------- */
  .contacto__banner {
    /* Banner "CONTACTANOS" */
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    background-color: black;
    height: 30vh;
    overflow: hidden; }
    .contacto__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6.5rem; }
    .contacto__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 2.5rem; }
    .contacto__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .gridContacto {
    /* Para el grid en versión tablet */
    display: grid;
    grid-template-columns: 50vw 45vw;
    grid-template-rows: auto;
    justify-content: center;
    gap: 0 0vw; }
  .contacto {
    width: 100%;
    padding: 4rem 0;
    margin: 0; }
    .contacto .contacto__titulo {
      margin: 2rem 0 4rem 0; }
      .contacto .contacto__titulo h1 {
        font-size: 4rem; }
    .contacto .contacto__contenedor {
      /* Contenedor de form + botón */
      font-size: 1.8rem; }
      .contacto .contacto__contenedor .contacto__form {
        /* Formulario de contacto */
        margin-bottom: 2rem; }
        .contacto .contacto__contenedor .contacto__form input {
          font-size: 1.6rem;
          width: 45vw;
          padding: 1.2rem 1.5rem;
          background-color: #f6f6f6;
          border: 0; }
        .contacto .contacto__contenedor .contacto__form textarea {
          font-size: 1.6rem;
          width: 45vw;
          padding: 1.2rem 1.5rem;
          background-color: #f6f6f6;
          border: 0; }
      .contacto .contacto__contenedor .contacto__button {
        border: solid black 1px;
        padding: 1rem 4rem;
        transition: all 0.3s;
        width: 45vw; }
        .contacto .contacto__contenedor .contacto__button a {
          color: black;
          /* Color del texto */ }
      .contacto .contacto__contenedor div.contacto__button:hover {
        background-color: black;
        /* Animación */ }
        .contacto .contacto__contenedor div.contacto__button:hover a {
          color: white; }
  .contacto__GIT {
    /* Section "get in touch" */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: black;
    padding: 9.5rem 1rem 3.5rem 1rem;
    margin: -5rem 0 5rem 0;
    height: 65%; }
    .contacto__GIT .contacto__GIT__titulo {
      margin: 2rem 0 4rem 0;
      width: 100%;
      text-align: left; }
      .contacto__GIT .contacto__GIT__titulo h2 {
        font-size: 3.5rem;
        color: white; }
    .contacto__GIT .contacto__GIT__contenedor {
      font-size: 1.8rem; }
      .contacto__GIT .contacto__GIT__contenedor .icono2 {
        padding-right: 1rem; }
      .contacto__GIT .contacto__GIT__contenedor #whatsapp {
        color: #25d366; }
      .contacto__GIT .contacto__GIT__contenedor #instagram {
        color: #d62976; }
      .contacto__GIT .contacto__GIT__contenedor div {
        margin-bottom: 3rem; }
        .contacto__GIT .contacto__GIT__contenedor div p {
          font-size: 1.9rem;
          margin-bottom: 0;
          color: white; }
  /* -------------------------------- SECCIÓN PREGUNTAS FRECUENTES -------------------------------- */
  .preguntas__banner {
    /* Banner "PREGUNTAS FRECUENTES" */
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    height: 30vh;
    background-color: black;
    overflow: hidden; }
    .preguntas__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6.5rem; }
    .preguntas__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 6.5rem; }
    .preguntas__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .preguntas {
    width: 80vw;
    padding: 4rem; }
    .preguntas .preguntas__titulo {
      margin: 2rem 0 4rem 0;
      text-align: center;
      border-bottom: black solid 1.5px; }
      .preguntas .preguntas__titulo h1 {
        font-size: 4rem; }
    .preguntas .preguntas__contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem; }
      .preguntas .preguntas__contenedor h2 {
        text-align: center;
        width: 60%;
        padding: 1rem 0;
        font-size: 2.3rem; }
      .preguntas .preguntas__contenedor h2:hover {
        color: black; }
      .preguntas .preguntas__contenedor a {
        padding: 1rem 0;
        text-align: center;
        width: 80%;
        border-bottom: solid 1px #e7e7e7;
        font-size: 2rem; }
      .preguntas .preguntas__contenedor a:hover {
        color: black; }
      .preguntas .preguntas__contenedor .preguntas__rta {
        font-size: 1.8rem;
        width: 70%;
        text-align: justify;
        text-justify: distribute; }
  /* -------------------------------------- FOOTER ----------------------------------------- */
  footer {
    border-top: 1px solid black;
    margin: 2rem 0;
    padding: 2.5rem 0 0 0;
    display: flex;
    justify-content: space-around; }
    footer a:hover {
      /* Para c/link del footer */
      color: #000; }
    footer .footer__seccion {
      /* Cada sección del footer */
      margin-bottom: 2.5rem; }
      footer .footer__seccion h3 {
        padding-left: 2rem; }
      footer .footer__seccion .footer__logos {
        margin-top: 1rem;
        padding-left: 2rem; }
        footer .footer__seccion .footer__logos img {
          display: inline-block;
          width: 3rem;
          margin-right: 1.5rem;
          transition: all 0.3s; }
        footer .footer__seccion .footer__logos img:hover {
          width: 3.3rem; }
    footer ul li {
      list-style: none; } }

@media only screen and (min-width: 1025px) {
  /* -------------------------------------- NAV ----------------------------------------- */
  .collapse .navbar-logo {
    /* Logo en la parte izquierda del nav (only desktop/tablet) */
    width: 12rem;
    height: 6rem;
    overflow: hidden; }
    .collapse .navbar-logo img {
      margin: -2.5rem 0 0 2rem;
      width: 10rem;
      height: 10rem; }
  .collapse .nav-link {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 1rem; }
  /* -------------------------------- SECCIÓN INDEX -------------------------------- */
  .index__logo {
    /* Que no se muestre el logo (solo para mobile) */
    display: none;
    height: 16rem; }
    .index__logo img {
      width: 18vw; }
  .index__novedades {
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem 0 5rem; }
    .index__novedades .index__titulo {
      margin: 2rem 0; }
      .index__novedades .index__titulo h1 {
        font-size: 4rem; }
    .index__novedades .contenedorCarousel {
      /* No muestro el carrusel de mobile */
      display: none; }
    .index__novedades .contenedorCarousel--desktop {
      /* Margen en el carrusel */
      margin-top: 2rem; }
    .index__novedades #index__contenedorButton {
      /* Estilos del boton "ver mas" */
      width: 100%;
      display: flex;
      justify-content: center; }
      .index__novedades #index__contenedorButton .index__button {
        border: solid black 1px;
        padding: 1rem 0.5rem;
        margin: 5rem;
        transition: all 0.3s;
        width: 15vw; }
        .index__novedades #index__contenedorButton .index__button a {
          color: black;
          /* Color del texto */ }
      .index__novedades #index__contenedorButton div.index__button:hover {
        background-color: black;
        /* Animación */ }
        .index__novedades #index__contenedorButton div.index__button:hover a {
          color: white; }
  .index__productos .index__titulo {
    margin: 2rem 0; }
    .index__productos .index__titulo h2 {
      font-size: 4rem; }
  .index__productos h3 {
    font-size: 2.5rem;
    margin: 3rem 0 5rem 0; }
  .index__productos .index__gridproductos {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: auto auto;
    gap: 3rem 8.5vw;
    justify-content: center; }
    .index__productos .index__gridproductos .index__prod {
      border: solid 1px black;
      padding: 1rem; }
    .index__productos .index__gridproductos img {
      width: 100%;
      padding: 1rem; }
    .index__productos .index__gridproductos .texto {
      font-size: 1.8rem;
      margin-top: 1rem;
      padding: 0 1rem; }
    .index__productos .index__gridproductos .precio_oferta {
      font-size: 1.6rem;
      padding: 0 1rem; }
    .index__productos .index__gridproductos .precio {
      font-size: 2rem; }
  .index__newsletter {
    margin: 7rem 0 5rem 0; }
    .index__newsletter h3 {
      font-size: 4rem;
      margin: 5rem 0 3rem 0; }
    .index__newsletter p {
      font-size: 2.5rem;
      margin: 3rem 0; }
    .index__newsletter input {
      font-size: 1.8rem;
      margin: 0.5rem 0 3rem 0;
      width: 65vw;
      padding: 1.2rem 1.5rem;
      background-color: #f6f6f6;
      border: 0; }
    .index__newsletter #index__contenedorButton {
      /* Estilos del boton "Enviar" */
      width: 100%;
      display: flex;
      justify-content: center; }
      .index__newsletter #index__contenedorButton .index__button {
        border: solid black 1px;
        padding: 1rem 0.5rem;
        margin: 2rem 0;
        transition: all 0.3s;
        width: 15vw; }
        .index__newsletter #index__contenedorButton .index__button a {
          color: black;
          /* Color del texto */ }
      .index__newsletter #index__contenedorButton div.index__button:hover {
        background-color: black;
        /* Animación */ }
        .index__newsletter #index__contenedorButton div.index__button:hover a {
          color: white; }
  /* -------------------------------- SECCIÓN PRODUCTOS -------------------------------- */
  .productos__banner {
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black;
    height: 45vh;
    overflow: hidden; }
    .productos__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6.5rem; }
    .productos__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .productos {
    padding: 4rem;
    margin-bottom: 2rem; }
    .productos .productos__titulo {
      margin: 2rem 0 4rem 0; }
      .productos .productos__titulo h1 {
        font-size: 4rem; }
    .productos .productos__grid {
      display: grid;
      grid-template-columns: 25vw 25vw 25vw;
      grid-template-rows: auto;
      gap: 3rem 8.5vw;
      justify-content: center; }
      .productos .productos__grid .productos__contenedor {
        border: black solid 1px; }
      .productos .productos__grid img {
        width: 100%;
        padding: 1rem; }
      .productos .productos__grid .texto {
        font-size: 2rem;
        margin-top: 1rem;
        padding: 0 1rem; }
      .productos .productos__grid .precio {
        font-size: 2rem;
        padding: 0 1rem; }
      .productos .productos__grid .productos__botonComprar {
        border: 1px solid black;
        margin: 2rem;
        transition: all 0.3s; }
        .productos .productos__grid .productos__botonComprar a {
          text-decoration: none;
          color: black; }
      .productos .productos__grid .productos__botonComprar:hover {
        background-color: black; }
        .productos .productos__grid .productos__botonComprar:hover a {
          color: white; }
  /* -------------------------------- SECCIÓN QUIENES SOMOS -------------------------------- */
  .quienesSomos__banner {
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black;
    height: 45vh;
    overflow: hidden; }
    .quienesSomos__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6.5rem; }
    .quienesSomos__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 6.5rem; }
    .quienesSomos__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .quienesSomos {
    width: 70%;
    margin-bottom: 7rem; }
    .quienesSomos .quienesSomos__titulo {
      margin: 2rem 0 4rem 0; }
      .quienesSomos .quienesSomos__titulo h1 {
        font-size: 4rem; }
    .quienesSomos .quienesSomos__contenedor {
      border: 1.5px solid black;
      padding: 4rem;
      flex-direction: column; }
      .quienesSomos .quienesSomos__contenedor p {
        text-align: justify;
        font-size: 1.8rem; }
    .quienesSomos .quienesSomos__imagenes {
      margin: 3rem 0; }
      .quienesSomos .quienesSomos__imagenes img {
        width: 25%; }
  /* -------------------------------- SECCIÓN CONTACTO -------------------------------- */
  .contacto__banner {
    /* Banner "CONTACTANOS" */
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black;
    height: 45vh;
    overflow: hidden; }
    .contacto__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6.5rem; }
    .contacto__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 2.5rem; }
    .contacto__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .gridContacto {
    /* Para el grid en versión desktop */
    display: grid;
    grid-template-columns: 63vw 30vw;
    grid-template-rows: auto;
    justify-content: center;
    gap: 0 0; }
  .contacto {
    /* Parte del formulario de contacto */
    width: 100%;
    margin: 0; }
    .contacto .contacto__titulo {
      margin: 2rem 0 4rem 0; }
      .contacto .contacto__titulo h1 {
        font-size: 4rem; }
    .contacto .contacto__contenedor {
      /* Contenedor de form + botón */
      font-size: 1.8rem; }
      .contacto .contacto__contenedor .contacto__form {
        /* Formulario de contacto */
        margin-bottom: 2rem; }
        .contacto .contacto__contenedor .contacto__form input {
          width: 55vw;
          padding: 1.2rem 1.5rem;
          background-color: #f6f6f6;
          border: 0; }
        .contacto .contacto__contenedor .contacto__form textarea {
          width: 55vw;
          padding: 1.2rem 1.5rem;
          background-color: #f6f6f6;
          border: 0; }
      .contacto .contacto__contenedor .contacto__button {
        margin: 2rem 0;
        border: solid black 1px;
        padding: 1rem 4rem;
        transition: all 0.3s;
        width: 35vw; }
        .contacto .contacto__contenedor .contacto__button a {
          color: black;
          /* Color del texto */ }
      .contacto .contacto__contenedor div.contacto__button:hover {
        background-color: black;
        /* Animación */ }
        .contacto .contacto__contenedor div.contacto__button:hover a {
          color: white; }
  .contacto__GIT {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: black;
    padding: 9.5rem 1rem 3.5rem 1rem;
    margin: -10rem 0 5rem 0;
    height: 65%; }
    .contacto__GIT .contacto__GIT__titulo {
      margin: 2rem 0 4rem 0;
      width: 100%;
      text-align: left; }
      .contacto__GIT .contacto__GIT__titulo h2 {
        font-size: 3.5rem;
        color: white; }
    .contacto__GIT .contacto__GIT__contenedor {
      font-size: 1.8rem; }
      .contacto__GIT .contacto__GIT__contenedor .icono2 {
        padding-right: 1rem; }
      .contacto__GIT .contacto__GIT__contenedor #whatsapp {
        color: #25d366; }
      .contacto__GIT .contacto__GIT__contenedor #instagram {
        color: #d62976; }
      .contacto__GIT .contacto__GIT__contenedor div {
        margin-bottom: 3rem; }
        .contacto__GIT .contacto__GIT__contenedor div p {
          font-size: 1.6rem;
          margin-bottom: 0;
          color: white; }
  /* -------------------------------- SECCIÓN PREGUNTAS FRECUENTES -------------------------------- */
  .preguntas__banner {
    /* Banner "PREGUNTAS FRECUENTES" */
    position: relative;
    /* Para poder escribir texto sobre la imagen */
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black;
    height: 45vh;
    overflow: hidden; }
    .preguntas__banner .textoBanner {
      /* Para que el texto sobre la imagen quede centrado */
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6.5rem; }
    .preguntas__banner .textoBanner--sub {
      /* idem */
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      font-size: 6.5rem; }
    .preguntas__banner img {
      /* Medidas de la imagen */
      width: 100vw;
      height: auto;
      opacity: 0.6; }
  .preguntas {
    width: 70vw;
    padding: 4rem;
    margin-bottom: 7rem; }
    .preguntas .preguntas__titulo {
      margin: 2rem 0 4rem 0;
      text-align: center;
      border-bottom: black solid 1.5px;
      padding-bottom: 1rem; }
      .preguntas .preguntas__titulo h1 {
        font-size: 4rem; }
    .preguntas .preguntas__contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem; }
      .preguntas .preguntas__contenedor h2 {
        text-align: center;
        width: 60%;
        padding: 1rem 0;
        font-size: 2.3rem;
        margin-bottom: 1.5rem; }
      .preguntas .preguntas__contenedor h2:hover {
        color: black; }
      .preguntas .preguntas__contenedor .icono {
        padding: .5rem; }
      .preguntas .preguntas__contenedor a {
        padding: 1rem 0;
        text-align: center;
        width: 80%;
        border-bottom: solid 1px #e7e7e7;
        font-size: 2rem; }
      .preguntas .preguntas__contenedor a:hover {
        color: black; }
      .preguntas .preguntas__contenedor .preguntas__rta {
        font-size: 1.8rem;
        width: 70%;
        text-align: justify;
        text-justify: distribute; }
  /* -------------------------------------- FOOTER ----------------------------------------- */
  footer {
    border-top: 1px solid black;
    margin: 2rem 0;
    padding: 2.5rem 0 0 0;
    display: flex;
    justify-content: space-around; }
    footer a:hover {
      /* Para c/link del footer */
      color: #000; }
    footer .footer__seccion {
      /* Cada sección del footer */
      margin-bottom: 2.5rem; }
      footer .footer__seccion h3 {
        padding-left: 2rem; }
      footer .footer__seccion .footer__logos {
        margin-top: 1rem;
        padding-left: 2rem; }
        footer .footer__seccion .footer__logos img {
          display: inline-block;
          width: 3rem;
          margin-right: 1.5rem;
          transition: all 0.3s; }
        footer .footer__seccion .footer__logos img:hover {
          width: 3.3rem; }
    footer ul li {
      list-style: none; } }
